<div class="twitter-profile">
  <div class="twitter-banner"></div>
  <div class="twitter-avatar-container">
    <img src="avatar-placeholder.png" alt="Avatar" class="twitter-avatar">
  </div>
  <div class="twitter-profile-details">
    <div class="twitter-profile-name">""</div>
    <div class="twitter-profile-stats">
      <span>0 Following</span>
      <span>0 Followers</span>
    </div>
    <div class="twitter-profile-actions">
      <button class="twitter-edit-profile">Éditer le profil</button>
    </div>
  </div>
  <div class="twitter-nav">
    <ul>
      <li>Posts</li>
      <li>Replies</li>
      <li>Highlights</li>
      <li>Media</li>
      <li>Likes</li>
    </ul>
  </div>
</div>