<nav class="main-nav">
  <div class="navbar">
    <div class="user-profile">
      <a class="nav-title-container" href="/home">
        <img src="assets/twitter.png" alt="logo" class="logo-image" />
        <span class="nav-title">Twitter-wich</span>
      </a>
    </div>
    <div class="settings-icon">
      <button class="post-card-btn-option" mat-button [matMenuTriggerFor]="postMenu">
        <span class="material-symbols-outlined">
          more_vert
        </span>
      </button>
      <mat-menu #postMenu="matMenu">
        <a href="/profile" mat-menu-item>
          <span class="material-symbols-outlined">person</span>Profile
        </a>
        <a href="/" mat-menu-item>
          <span class="material-symbols-outlined">logout</span>Deconnexion
        </a>
      </mat-menu>
    </div>
  </div>
</nav>
