<div class="siderbar">
  <div class="siderbar-container">
    <ul class="siderbar-list">
      <li class="siderbar-item"><a href="/home"><span class="material-symbols-outlined">
        home
    </span> Accueil</a></li>
      <li class="siderbar-item"><a href=""><span class="material-symbols-outlined">
        mail
        </span> Messagerie</a></li>
      <li class="siderbar-item"><a href=""><span class="material-symbols-outlined">
        bookmark
        </span> Listes </a></li>
      <li class="siderbar-item"><a href=""><span class="material-symbols-outlined">
        contract
        </span> Contact </a></li>
        <li class="siderbar-item">
          <a href=""><span class="material-symbols-outlined">
            notifications
        </span>Notifications</a>
        </li>
        <li class="siderbar-item-container-btn">
          <button class="sidebar-item-btn" (click)="navigateToAddPost()">
            <span class="material-symbols-outlined">
              draft_orders
            </span>
            Poster
          </button>

        </li>
    </ul>
  </div>
</div>
