<div>
  <app-navbar/>
<div class="profile-container">
  <div class="profile-body">
    <div class="profile-left">
       <app-siderbar/>
    </div >
    <div class="profile-right">
    <div class="profile-header">
      <!-- Image de profil et bouton Éditer -->
      <div class="profile-image-container">
        <img src="https://images4.alphacoders.com/128/1282051.png" alt="Profil de l'utilisateur" class="profile-image">
        <button class="profile-btn-edit" (click)="toggleEdit()">
          <span class="material-symbols-outlined">
            edit
            </span>
          Modifier profil</button>
      </div>
    </div>

    <!-- Informations de profil -->
    <div class="profile-info">
      <div class="profile-text-pseudo"><h4>{{ user.prenom }}</h4> </div>
       <ul class="profile-text-fo">
       <li class="profile-text-fo-item">0 abonnée</li>
       <li class="profile-text-fo-item"> 0 abonement</li>
       </ul>
    </div>

    <div class="profile-container-grid">
      <div class="posts-grid">
        <div class="post-card" *ngFor="let post of user.posts">
          <div class="post-title">{{ post.title }}</div>
          <img *ngIf="post.image"[src]="post.image" alt="Image du post" class="post-image">
          <div class="post-details">
            <span>Créé le: {{ post.createdAt | date }}</span>
            <span>Likes: {{ post.countlike }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="user-info">
      <h4>Informations de l'utilisateur</h4>
      <p><span class="profile-text-fo-item">Nom:</span> <span class="profile-text-fo-item">{{ users.name }}</span></p>
      <p><span class="profile-text-fo-item">Email:</span> <span class="profile-text-fo-item">{{ users.email }}</span></p>
      <p><span class="profile-text-fo-item">Âge:</span> <span class="profile-text-fo-item">{{ users.age }}</span></p>
      <p><span class="profile-text-fo-item">Pays:</span> <span class="profile-text-fo-item">{{ users.country }}</span></p>
    </div>
    
    <div class="container-post">
      <!-- ajouter le code ici -->
    </div>

</div>
</div>
  </div>
</div>

